energy/endenergieverbrauch_nach_energietraegern.csv filter=lfs diff=lfs merge=lfs -text
energy/kernkraftwerke_der_schweiz_elektrizitaetserzeugung_und_arbeitsnutzung.csv filter=lfs diff=lfs merge=lfs -text
energy/ausfuhr_und_einfuhr_elektrischer_energie_in_gwh_inbegriffen_austauschenergie_nach_hydrologischem_jahr.csv filter=lfs diff=lfs merge=lfs -text
energy/ausfuhr_und_einfuhr_elektrischer_energie_in_gwh_inbegriffen_austauschenergie_nach_kalendarjahr.csv filter=lfs diff=lfs merge=lfs -text
energy/elektrizitaetserzeugung_in_gwh.csv filter=lfs diff=lfs merge=lfs -text
energy/endverbraucher_ausgaben_fuer_energie_in_millionen_franken.csv filter=lfs diff=lfs merge=lfs -text
energy/energieeinfuhr_und_ausfuhr.csv filter=lfs diff=lfs merge=lfs -text
energy/gross_energy_consumption_share_of_primary_energy_carriers.csv filter=lfs diff=lfs merge=lfs -text
energy/produktion_der_erdoelraffinerien_inland.csv filter=lfs diff=lfs merge=lfs -text
work_income/monatlicher_bruttolohn_schweizerinnen_und_auslaenderinnen.csv filter=lfs diff=lfs merge=lfs -text
work_income/szenarien_zur_entwicklung_der_erwerbsbevoelkerung_ab_2015_erwerbsquote_und_erwerbsbevoelkerung_nach_altersklasse_geschlecht_staatsangehoerigkeit_pro_jahr_und_gemaess_szenario_variante.csv filter=lfs diff=lfs merge=lfs -text
work_income/auslaendische_grenzgaenger_nach_geschlecht_arbeitskanton_und_wirtschaftssektoren_abschnitten_und_abteilungen.csv filter=lfs diff=lfs merge=lfs -text
work_income/foreign_cross_border_commuters_by_gender_canton_of_work_and_age_class.csv filter=lfs diff=lfs merge=lfs -text
work_income/monatlicher_bruttolohn_nach_ausbildung.csv filter=lfs diff=lfs merge=lfs -text
work_income/monatlicher_bruttolohn_nach_taetigkeit.csv filter=lfs diff=lfs merge=lfs -text
work_income/auslaendische_grenzgaenger_nach_erwerbsstatus_und_wirtschaftssektoren_abschnitten_und_abteilungen.csv filter=lfs diff=lfs merge=lfs -text
work_income/auslaendische_grenzgaenger_nach_geschlecht_und_arbeitsgemeinde.csv filter=lfs diff=lfs merge=lfs -text
work_income/haeufigkeitsverteilung_voll_und_teilzeitbeschaeftigte_nach_nettolohnhoehenklassen.csv filter=lfs diff=lfs merge=lfs -text
work_income/auslaendische_grenzgaenger_nach_geschlecht_arbeitskanton_erwerbsstatus_und_aufenthaltsdauer.csv filter=lfs diff=lfs merge=lfs -text
work_income/auslaendische_grenzgaenger_wohnhaft_in_frankreich_nach_geschlecht_arbeitskanton_und_wohndepartement.csv filter=lfs diff=lfs merge=lfs -text
work_income/auslaendische_grenzgaenger_nach_geschlecht_arbeitskanton_und_wohnsitzstaat.csv filter=lfs diff=lfs merge=lfs -text
work_income/auslaendische_grenzgaenger_wohnhaft_in_deutschland_nach_geschlecht_arbeitskanton_und_wohnlandkreis.csv filter=lfs diff=lfs merge=lfs -text
work_income/szenarien_zur_entwicklung_der_erwerbsbevoelkerung_ab_2015_quotient_zwischen_aelteren_personen_65_jaehrige_und_aeltere_und_der_erwerbsbevoelkerung_nach_staatsangehoerigkeit_pro_jahr_und_gemaess_szenario_variante.csv filter=lfs diff=lfs merge=lfs -text
work_income/szenarien_zur_entwicklung_der_erwerbsbevoelkerung_ab_2015_erwerbsquote_und_erwerbsbevoelkerung_nach_alter_geschlecht_staatsangehoerigkeit_pro_jahr_und_gemaess_szenario_variante.csv filter=lfs diff=lfs merge=lfs -text
